body {
    font-family: 'Libre Baskerville', 'Uncial Antiqua', serif;
    text-align: center;
    background-color: #224722;
    position: relative;
    min-height: 100vh;
}

h1{
    font-family: 'Uncial Antiqua', serif;
    width: 100vw;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: 'Uncial Antiqua', serif;
    width: 100vw;
    color: rgb(0,0,0);
}

main{
    color: rgb(0,0,0);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    align-content: center;
}
.login-input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd; /* Light border */
    border-radius: 4px;
    box-sizing: border-box;
}

.button{
    background-color: #4f6450; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Some padding */
    margin: 10px 0; /* Top and bottom margin */
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
    width: 50%; /* Full width */
}

.button:hover{
    background-color: #2dd635; /* Green background */
}


body .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}


image {
    align-items: center;
}

.image-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

nav {
   
    width: 100%;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.nav-menu li {
    margin: 0 10px;
}

.nav-menu a {

    text-decoration-thickness: 2px;
    color: rgb(255, 255, 255);
}

.nav-menu a:hover {
    color: rgb(2, 120, 218);
}

footer {
    position: absolute;
    bottom: 2cm; /* Keeps the footer 2cm from the bottom */
    left: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 10px 10px 10px 10px;
}

.footer-text{
    color: rgb(255, 255, 255);
    text-decoration-thickness: 2px;
    margin-bottom: 10px;
}

.github-link {
    color: rgb(255, 255, 255);
    text-decoration-thickness: 2px;
}

.github-link:hover {
    color: rgb(2, 120, 218);
}